# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
build_words_vc12x/Debug_words_vc12x_arm/custombuild.command.1.tlog
build_words_vc12x/Debug_words_vc12x_arm/custombuild.read.1.tlog
build_words_vc12x/Debug_words_vc12x_arm/custombuild.write.1.tlog
build_words_vc12x/Debug_words_vc12x_gcc_aarch64/custombuild.command.1.tlog
build_words_vc12x/Debug_words_vc12x_gcc_aarch64/custombuild.read.1.tlog
build_words_vc12x/Debug_words_vc12x_gcc_aarch64/custombuild.write.1.tlog
build_words_vc12x/Debug_words_vc12x_gcc_arm/custombuild.command.1.tlog
build_words_vc12x/Debug_words_vc12x_gcc_arm/custombuild.read.1.tlog
build_words_vc12x/Debug_words_vc12x_gcc_arm/custombuild.write.1.tlog
build_words_vc12x/Debug_words_vc12x_x86/CL.read.1.tlog
build_words_vc12x/Debug_words_vc12x_x86/CL.write.1.tlog
build_words_vc12x/Debug_words_vc12x_x86/cl.command.1.tlog
build_words_vc12x/Debug_words_vc12x_x86/custombuild.command.1.tlog
build_words_vc12x/Debug_words_vc12x_x86/custombuild.read.1.tlog
build_words_vc12x/Debug_words_vc12x_x86/custombuild.write.1.tlog
build_words_vc12x/Debug_words_vc12x_x86/vc120.idb
build_words_vc12x/Debug_words_vc12x_x86/vc120.pdb
build_words_vc12x/Debug_words_vc12x_x86/words.exp
build_words_vc12x/Debug_words_vc12x_x86/words.ilk
build_words_vc12x/Debug_words_vc12x_x86/words.lic
build_words_vc12x/Debug_words_vc12x_x86/words.pdb
build_words_vc12x/Debug_words_vc12x_x86/words.s86
build_words_vc12x/Debug_words_vc12x_x86/words_vc12x.log
build_words_vc12x/Debug_words_vc12x_x86/words_vc12x.tlog/custombuild.command.1.tlog
build_words_vc12x/Debug_words_vc12x_x86/words_vc12x.tlog/custombuild.read.1.tlog
build_words_vc12x/Debug_words_vc12x_x86/words_vc12x.tlog/custombuild.write.1.tlog
build_words_vc12x/Debug_words_vc12x_x86/words_vc12x.tlog/link.command.1.tlog
build_words_vc12x/Debug_words_vc12x_x86/words_vc12x.tlog/link.read.1.tlog
build_words_vc12x/Debug_words_vc12x_x86/words_vc12x.tlog/words_vc12x.lastbuildstate
build_words_vc12x/Debug_words_vc12x_x86/words_vc12x.tlog/words_vc12x.write.1u.tlog
build_words_vc12x/Release_words_vc12x_arm/custombuild.command.1.tlog
build_words_vc12x/Release_words_vc12x_arm/custombuild.read.1.tlog
build_words_vc12x/Release_words_vc12x_arm/custombuild.write.1.tlog
build_words_vc12x/Release_words_vc12x_gcc_aarch64/custombuild.command.1.tlog
build_words_vc12x/Release_words_vc12x_gcc_aarch64/custombuild.read.1.tlog
build_words_vc12x/Release_words_vc12x_gcc_aarch64/custombuild.write.1.tlog
build_words_vc12x/Release_words_vc12x_gcc_arm/custombuild.command.1.tlog
build_words_vc12x/Release_words_vc12x_gcc_arm/custombuild.read.1.tlog
build_words_vc12x/Release_words_vc12x_gcc_arm/custombuild.write.1.tlog
build_words_vc12x/Release_words_vc12x_x86/custombuild.command.1.tlog
build_words_vc12x/Release_words_vc12x_x86/custombuild.read.1.tlog
build_words_vc12x/Release_words_vc12x_x86/custombuild.write.1.tlog
build_words_vc12x/deploy_config.py
build_words_vc12x/deploy_config.pyc
build_words_vc12x/macros.defs
build_words_vc12x/mkb.stamp
build_words_vc12x/temp_defines_debug.h
build_words_vc12x/temp_defines_release.h
build_words_vc12x/words_vc12x.pickle
build_words_vc12x/words_vc12x.vcxproj.filters
build_words_vc12x/words_vc12x.vcxproj.filters.orig
build_words_vc12x/words_vc12x.vcxproj.orig
build_words_vc12x/words_vc12x.vcxproj.user
build_words_vc12x/words_vc12x.vcxproj.user.orig
build_words_vc12x/words_vc12x_arm_debug.via
build_words_vc12x/words_vc12x_arm_release.via
build_words_vc12x/words_vc12x_debug.via
build_words_vc12x/words_vc12x_gcc_aarch64_debug.via
build_words_vc12x/words_vc12x_gcc_aarch64_release.via
build_words_vc12x/words_vc12x_gcc_debug.via
build_words_vc12x/words_vc12x_gcc_release.via
build_words_vc12x/words_vc12x_release.via
build_words_vc12x/Debug_words_vc12x_x86/
build_words_vc12x/iwtrace.txt
build_words_vc12x/vs_output_10028.log
build_words_vc12x/vs_output_3696.log
build_words_vc12x/vs_output_9756.log
build_words_vc12x/words_vc12x.opensdf
build_words_vc12x/words_vc12x.sdf
build_words_vc12x/words_vc12x.v12.suo