<config template="project (default)" platform="project">Created: Sat Sep 19 10:40:04 2015&#xd;&#xd;
By: Teal&#xd;&#xd;
Using Template: project (default)&#xd;&#xd;
&#xd;&#xd;
&lt;description to go here><option value="" fromDef="true" name="icon"/>
    <option value="" fromDef="true" name="splashscreen"/>
    <option value="" fromDef="true" name="splashscreen-use-all"/>
    <option value="" fromDef="true" name="splashscreen-auto-onblack"/>
    <option value="Default" fromDef="true" name="assets"/>
    <option value="" fromDef="true" name="embed-icf"/>
    <option value="data/app.icf" fromDef="true" name="config"/>
    <option value="words" fromDef="true" name="name"/>
    <option value="words" fromDef="true" name="caption"/>
    <option value="Teal" fromDef="true" name="provider"/>
    <option value="(C) Teal" fromDef="true" name="copyright"/>
    <option value="0.0.1" fromDef="true" name="version"/>
    <option value="" fromDef="true" name="version-string"/>
</config>
