<config template="project (default)" platform="project">Created: Sat Sep 19 10:40:04 2015&#xd;
By: Teal&#xd;
Using Template: project (default)&#xd;
&#xd;
&lt;description to go here><option value="" name="icon" fromDef="true"/>
    <option value="" name="splashscreen" fromDef="true"/>
    <option value="" name="splashscreen-use-all" fromDef="true"/>
    <option value="" name="splashscreen-auto-onblack" fromDef="true"/>
    <option value="Default" name="assets" fromDef="true"/>
    <option value="" name="embed-icf" fromDef="true"/>
    <option value="data/app.icf" name="config" fromDef="true"/>
    <option value="words" name="name" fromDef="true"/>
    <option value="words" name="caption" fromDef="true"/>
    <option value="Jordan" name="provider" fromDef="true"/>
    <option value="(C) Jordan" name="copyright" fromDef="true"/>
    <option value="0.0.1" name="version" fromDef="true"/>
    <option value="" name="version-string" fromDef="true"/>
</config>
