<config template="wp81 (default)" platform="wp81">Created: Sat Sep 19 10:40:05 2015&#xd;&#xd;
By: Teal&#xd;&#xd;
Using Template: wp81 (default)&#xd;&#xd;
&#xd;&#xd;
&lt;description to go here><option value="" fromDef="true" name="wp81-publisher-display-name"/>
    <option value="" fromDef="true" name="wp81-publisher-id"/>
    <option value="" fromDef="true" name="wp81-identity-name"/>
    <option value="" fromDef="true" name="wp81-description"/>
    <option value="" fromDef="true" name="wp81-product-version"/>
    <option value="" fromDef="true" name="wp81-product-name"/>
    <option value="" fromDef="true" name="wp81-custom-manifest"/>
    <option value="" fromDef="true" name="wp81-custom-manifest-fill"/>
    <option value="" fromDef="true" name="icon"/>
    <option value="" fromDef="true" name="splashscreen"/>
    <option value="" fromDef="true" name="splashscreen-use-all"/>
    <option value="" fromDef="true" name="splashscreen-auto-onblack"/>
    <option value="Default" fromDef="true" name="assets"/>
    <option value="" fromDef="true" name="embed-icf"/>
    <option value="data/app.icf" fromDef="true" name="config"/>
    <option value="words" fromDef="true" name="name"/>
    <option value="words" fromDef="true" name="caption"/>
    <option value="Teal" fromDef="true" name="provider"/>
    <option value="(C) Teal" fromDef="true" name="copyright"/>
    <option value="0.0.1" fromDef="true" name="version"/>
    <option value="" fromDef="true" name="version-string"/>
    <option value="" fromDef="true" name="wp81-logo-image150x150"/>
    <option value="" fromDef="true" name="wp81-logo-image50x50"/>
    <option value="" fromDef="true" name="wp81-logo-image44x44"/>
    <option value="" fromDef="true" name="wp81-splash-screen-image480x800"/>
    <option value="" fromDef="true" name="wp81-splash-screen-background"/>
    <option value="" fromDef="true" name="wp81-extra-res"/>
    <option value="" fromDef="true" name="wp81-ext-capabilities"/>
    <option value="" fromDef="true" name="wp81-ext-device-capabilities"/>
</config>
